body {
    background-color: lightgray;
}
#form1 {
    background-color: crimson;
    text-align: center;
}

#textline1 {
    background-color: darkcyan;
    text-align: center;
}

#name2, #name4 {
    background-color: darkgrey;
}

button {
    background-color: crimson;
    transition: 100ms;
}

button:hover {
    background-color: darkolivegreen;
}